<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>用户列表</title>
</head>
<body>
    <div class="container" style="width: 700px;" >
        <table class="table table-responsive table-bordered table-condensed table-hover">
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>密码</th>
                <th>手机号</th>
                <th>年龄</th>
            </tr>
            {volist name='data' id='vo'}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.password}</td>
                <td>{$vo.phone}</td>
                <td>{$vo.age}</td>
            </tr>
            {/volist}
        </table>

        {$data->render()}
    </div>
</body>
</html>