<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户修改</title>
    <link href="/static/bs/css/bootstrap.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <button class="btn btn-success">用户信息</button>
            <a href="users/create" class="btn btn-danger">添加用户</a>
        </div>
        <div class="panel-body">
           <form action="/users/{$data.id}" method="post">
                <div class="form-group">
                    <input type="hidden" name="_method" value="PUT">
                    <label>用户名</label>
                    <input type="text" value="{$data.name}" placeholder="请输入用户名" name="name" class="form-control">
                    <label>密码</label>
                    <input type="password" value="{$data.password}" placeholder="请输入密码" name="password" class="form-control">
                    <label>手机号</label>
                    <input type="number" value="{$data.phone}" placeholder="请输入手机号" name="phone" class="form-control">
                </div>
               <div class="from-group">
                    <input type="submit" value="添加" class="btn btn-success">
                    <input type="reset" value="重置" class="btn btn-danger">
               </div>
           </form>
        </div>
    </div>
</div>
</body>
</html>