<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
    <link href="/static/css/site.css" rel="stylesheet">
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table">
    <tr>
        <th>姓名</th>
        <th>密码</th>
        <th>手机号</th>
        <th>操作</th>
    </tr>
    <!--{foreach name='list' key="key" item="v"}-->
    {foreach $list as $key=>$v}
    <tr>
            <td>{$v['username']}</td>
            <td>{$v['userpassword']}</td>
            <td>{$v['phone']}</td>
           <td><a href="#" data-toggle="modal" data-target="#myModal" onclick="">删除</a></td>
        </tr>
    {/foreach}
</table>
<script>
    function del() {
        var tom = new XMLHttpRequest();
        tom.open("GET","/index/ajax/ajax2",true);
        tom.send();
        tom.onreadystatechange=function()
        {

        }
    }
</script>

</body>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 420px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">系统提示</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                确认删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary" id="qd" onclick="del(this.value)">确定</button>
            </div>
        </div>
    </div>
</div>
</html>